<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opensource.soft.BlogServer.user.blog.dao.BlogMapper">
	<resultMap id="BaseResultMap" type="com.opensource.soft.BlogServer.user.blog.model.Blog">
		<id column="uuid" jdbcType="CHAR" property="uuid" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="location" jdbcType="VARCHAR" property="location" />
		<result column="version" jdbcType="INTEGER" property="version" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
		<result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
		<result column="createuser" jdbcType="INTEGER" property="createuser" />
		<result column="deleteflag" jdbcType="BIT" property="deleteflag" />
	</resultMap>

	<insert id="save" parameterType="com.opensource.soft.BlogServer.user.blog.model.Blog">
		insert into blog (uuid, title, version,
		status, createtime, updatetime,
		createuser, deleteflag, content,location
		)
		values (#{uuid,jdbcType=CHAR}, #{title,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER},
		#{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP},
		#{createuser,jdbcType=INTEGER}, #{deleteflag,jdbcType=BIT}, #{content,jdbcType=LONGVARCHAR},
		 #{location,jdbcType=VARCHAR}
		)
	</insert>

	<select id="findMyBlogs" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select *
		from blog
		WHERE createuser = #{userId,jdbcType=INTEGER} and  deleteflag = 0
		ORDER BY createtime DESC
	</select>
</mapper>