<div class="col-lg-10">
	<div th:each="content : ${myGroup.list} ">
		<a th:text=${content.name} th:href="@{{url}/groupdetail.html(groupid=${content.id},url=${url})}" target="_blank"></a>
	</div>
	
	<!-- 分页 -->
	<input type="hidden" id="pageNum" th:value="${myGroup.pageNum}">
	<nav aria-label="Page navigation justify-content-center">
	  <ul class="pagination">
	    <li th:if=${myGroup.hasPreviousPage}>
	      <a href="#" aria-label="Previous" onclick= "clickpage(this)" >
	        <span aria-hidden="true">上一页</span>
	      </a>
	    </li>
	    <li th:each="num : ${myGroup.navigatepageNums}" >
	    	<a href="#" onclick= "clickpage(this)" th:text="${num}">1</a>
	    </li>
	    <li th:if=${myGroup.hasNextPage} onclick= "clickpage(this)" >
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">下一页</span>
	      </a>
	    </li>
	  </ul>
	</nav>
</div>

<script th:inline="javascript">
 var pageName = parseInt($("#pageNum").val());
 $(function(){
	$.each($("#myInfo li a"),function(index,ele){
		if(ele.text == pageName){
			ele.parentNode.className = 'active';
		}		
	});
 });
 //跳转到页面
 function clickpage(target){
	 var num = $(target).text();
	 if(num.indexOf("上一页")!=-1){
		 num = pageName - 1;
	 } else if(num.indexOf("下一页")!=-1){
		 num = pageName + 1;
	 }
	 console.log(num);
	 changeContent('group/myGroup?pageNum='+num);
 }
</script>