<div class="col-lg-10">
	<div th:text="${myblog.isFirstPage}">123</div>
	
	<nav aria-label="Page navigation">
	  <ul class="pagination">
	    <li th:unless=${myblog.isFirstPage}>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li th:each="num : ${myblog.navigatepageNums}" >
	    	<a href="#" th:text="${num}">1</a>
	    </li>
	    <li th:unless=${myblog.isLastPage}>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
</div>

<script th:inline="javascript">
 $(".list-group a").click(function() {
        $(".list-group a").removeClass('active');
        $(this).addClass('active');

 });
 
 function goBlogPage(pageNum){
	 console.log(pageNum);
	 
 }
</script>