<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<title>登录</title>
	<!-- Bootstrap -->
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

	<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
	<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
	<!--[if lt IE 9]>
	      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	<div class="container-fluid">
		<div class="row" id="header" style="min-height:  70px;"></div>
		<div class="row">
			<div class="col-sm-12">
				<form class="form-horizontal" action="/user/login" method="post">
					<div class="form-group">
						<label for="loginname" class="col-sm-3 control-label">登录名</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="loginname"
								name="loginname" placeholder="登陆名">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-3 control-label">密&nbsp;&nbsp;码</label>
						<div class="col-sm-6">
							<input type="password" class="form-control" id="password"
								name="password" placeholder="密码">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-3 col-sm-offset-3">
							<input type="text" class="form-control" id="validateCode"
								name="validateCode" placeholder="图片验证码">
						</div>
						<div class="col-sm-4">
							<a href="#" onclick="javascript:reloadValidateCode();"><img
								alt="图片验证码" id="validateCodeImg" src="validateCode"></a>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-6">
							<button type="submit" class="btn btn-primary  btn-lg btn-block">登陆</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row" id="footer"></div>
	</div>

	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script th:src="@{{url}/js/common.js(url=${staticurl})}" type="text/javascript"></script>
	
	<script th:inline="javascript">
		function reloadValidateCode(){
			$("#validateCodeImg").attr("src","validateCode?data="+Math.random());
		}
	</script>
</body>
</html>